{% extends "layout.html" %}
{% block subtitle %}{{ City }}{% endblock %}
{% block page_content %}
	<div class="form-horizontal">
		<div class="input-group">
			<span class="input-group-addon"><b>从</b></span>
			<input type="text" id="fromInput" oninput="showTips('from')" class="form-control" required="required" autocomplete="off">
			<span class="input-group-btn">
				<button class="btn btn-default" onclick="myPos('from')" type="button"><span class="glyphicon glyphicon-pushpin"></span></button>
			</span>
			<div class="input-group-btn" id="fromGroup">
				<button type="button" id="fromButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-menu-down">
				</span>
				</button>
				<ul id="fromList" class="dropdown-menu dropdown-menu-right">
					<li><a>暂无提示</a></li>
				</ul>
			</div>
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon"><b>到</b></span>
			<input type="text" id="toInput" oninput="showTips('to')" class="form-control" required="required" autocomplete="off" autofocus="autofocus">
			<span class="input-group-btn">
				<button class="btn btn-default" onclick="myPos('to')" type="button"><span class="glyphicon glyphicon-pushpin"></span></button>
			</span>
			<div class="input-group-btn" id="toGroup">
				<button type="button" id="toButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-menu-down">
				</span>
				</button>
				<ul id="toList" class="dropdown-menu dropdown-menu-right">
					<li>
						<a>暂无提示</a>
					</li>
				</ul>
			</div>
		</div>
		<br>
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group" role="group">
				<button id="submit" class="btn btn-success" type="button" onclick="find()"><span class="glyphicon glyphicon-search"></span> 寻找路线</button>
			</div>
			<div class="btn-group" role="group">
				<button id="switch" class="btn btn-warning" type="button" onclick="switchInput()"><span class="glyphicon glyphicon-sort"></span> 交换位置</button>
			</div>
			<div class="btn-group" role="group">
				<button id="clear" class="btn btn-danger" type="button" onclick="clearInput()"><span class="glyphicon glyphicon-erase"></span> 清除输入</button>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="panel-group col-xs-12 col-sm-6 col-md-4" id="walk" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div id="heading-1" role="tab" class="panel-heading">
					<h4 class="panel-title">
					<a href="#collapse-1" role="button" data-toggle="collapse" data-parent="#path-1" aria-controls="collapse-1" class="collapsed" aria-expanded="false">步行到起点（感谢高德地图）</a>
					</h4>
				</div>
				<div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1" aria-expanded="false" style="height: 0px;">
					<div class="panel-body">
						<div class="embedMap" id="picture"><iframe id="walkMap" height="450" width="500" frameborder="0" style="border:0"></iframe></div>
					</div>
				</div>
			</div>
		</div>
		<span id="paths"></span>
	</div>
{% endblock %}
{% block scripts %}
	{{super()}}
	<script type="text/javascript" async src="{{ url_for('static', filename = 'scripts/tips.js') }}"></script>
{% endblock %}