{% extends "bootstrap/base.html" %}
{% block metas %}
{{ super() }}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
{% endblock %}
{% block title %}{% block subtitle %}{% endblock %} - 地铁时间估算工具{% endblock %}
{% block styles %}
{{super()}}
<link rel="shortcut icon" href="https://lihanming.me/static/favicon.ico" type="image/x-icon" />
<link rel="icon" href="https://lihanming.me/static/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/site.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" />
{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<div class="container">
{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
{% block page_content %}
{% endblock %}
<footer>
<br />
    <p><span class="glyphicon glyphicon-copyright-mark"></span> {{ moment().format('YYYY') }} - 李瀚明</p>
</footer>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN') }}
{% endblock %}