{% extends "layout.html" %}
{% block subtitle %}首页{% endblock %}
{% block page_content %}
<div class="input-group">
    <input type="text" id="question" oninput="onpress()" class="form-control" required="required", autocomplete="off", autofocus="autofocus", placeholder="请输入客户您的问题", title="请输入客户您的问题">
    <span class="input-group-btn"><button id="sbmt" class="btn btn-primary" type="button" onclick="onpress()">向机器人提问</button></span>
</div>
<div id="search-results">
	<ul class="entries" id="k">
		<li><div class="entry"><h3><a href="http://huhualing.net/bbs2/">护花呤使用指南目录</a></h3><p>请点击链接访问首页</p></div></li>
	</ul>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
function onpress(){
		k = $("#question").val()
		$.post("ajax", {question: k},
		function(data, status) {
			if (status === "success")
			{
				$("#k").html("");//清空info内容
       			$.each(data.results, function(i, item) {
            	$("#k").append(
					'<li><div class="entry"><h3><a href="' + item["地址"] + '">' + item['标题'] + '</a></h3><p>' + item['正文摘要']+'</p></div></li>');
        		});
			}
			else
			{
				alert("出错了");
			}
		});
	}
</script>
{% endblock %}