{% extends "layout.html" %}
{% block subtitle %}首页{% endblock %}
{% block page_content %}
<form action="" method="post" role="form">
	<div class="input-group">
    	{{ form.question(class="form-control", required="required", autocomplete="off", autofocus="autofocus", placeholder="请输入客户您的问题", title="请输入客户您的问题") }}
		<span class="input-group-btn">{{ form.submit(class="btn btn-primary", value="向机器人提问") }}</span>
	</div>
</form>
<div id="searchresults">
	<ul class="entries">
		{% for item in results %}
		<li>
			<div class="entry">
				<h3><a href="{{ item['地址'] }}">{{ item['标题'] }}</a></h3>
				<p>{% autoescape false %}{{ item['正文摘要'] }}{% endautoescape %}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}