<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand">护花呤顾问论坛精华贴</a>
       </div>
       <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li><a href="http://huhualing.net/bbs2/001.html">眼霜抗皱纹</a></li>
                <li><a href="http://huhualing.net/bbs2/002.html">肌肤减龄</a></li>
                <li><a href="http://huhualing.net/bbs2/003.html">痤疮、黑头</a></li>
                <li><a href="http://huhualing.net/bbs2/004.html">美白去斑</a></li>
                <li><a href="http://huhualing.net/bbs2/005.html">肤质与敏感</a></li>
                <li><a href="http://huhualing.net/bbs2/006.html">缩小毛孔</a></li>
                <li><a href="http://huhualing.net/bbs2/007.html">产品介绍 &amp; 使用技巧</a></li>
                <li><a href="http://huhualing.net/bbs2/008.html">清洁保湿防晒</a></li>
                <li><a href="{{ url_for('index') }}">搜索</a></li>
            </ul>
        </div>
    </div>
</div>