.LineName{
    color:white;
    background-color:black;
    }
.Direction{
    font-weight:bold;
    }
.StationName{
    font-weight:bold;
    }
a.CityList{
    margin:5px;
    }
#walkMap {width:100%; height: 300px; }  